body{
    background-color: #ede0bb;
}
#box{
    background-color: #23a699;
    padding: 20px;
    border: 20px  solid salmon;
    width: 400px;
    margin-top: 10px;
    box-sizing: border-box;
    overflow: auto;
}
#Content{
    background-color: blanchedalmond;
}
#Bg{
    width: 300px;
    height: 300px;
    background-color: antiquewhite;
    background-image: url(https://i.pinimg.com/564x/e6/e9/6a/e6e96aea9e235a8b7b494c79096fd9fa.jpg);width: 30px;height: 30px;
    background-position: right;
}   
.row{
    margin-bottom: 15px;
}
.col-md-3{
    border: 2px solid lime;
    background-color: blue;
}